body{
font-family:Verdana,sans-serif;
}
div#pageheader{
	width:970px;
	height: 90px;
	background-image:url(./images/background-yellow.png)
}

h1{
	padding: 20px;
	margin-left: 30px;
	font-size: 30px;
	line-height:54px;
}

.label{
	color:#666666;
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	width:350px;
	font-size: 11px;
	float:left;
}
.field{

margin:5px 10px;
overflow:hidden;
}

#content{
background-color: #F2F2F2;

}
/******* Overwirtting Auto sugest CSS *******/
ul.as-selections {
	margin: 0 10px 10px !important;
	min-height: 75px;
	padding: 5px 3px 4px !important;
	width: 333px;
	border: 1px solid #C5C3CA !important;
}
ul.as-selections li.as-selection-item a.as-close {
	margin: -2px 0 0 5px !important;
}
ul.as-selections li.as-selection-item {
	margin-bottom: 4px !important;
}
ul.as-selections li.as-selection-item:hover {
	background: #d8dfea !important;
	border-color: #ccd5e4 !important;
}
.as-selections {
	position: relative;
}
ul.as-list{
	border:1px solid !important;

}/*.as-original { position: absolute; }*/
ul.as-selections li.as-original input { width: 331px !important; padding: 2px 0; color: #959595; font-size: 12px !important; font-family: helvetica; }
ul.as-selections li.as-selection-item.blur { margin-right: 5px; }
.as-results { position: absolute; margin: -40px 0 0 360px; z-index: 0; }
li.as-result-item { font-size: 12px !important; }
/*li.as-message{display:none;}*/
ul.as-selections li.as-selection-item div{ float: left; }
ul.as-selections li.as-selection-item a.as-close { color:#A6B3CF !important; }
li span.movie_name{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  padding-left: 33px;
  padding-top: 0px;
  font-weight: bold;
  margin-top: -10px;
}

div#image_movies{
 width: 50px;
 height: 50px;
 float:right;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 13px;
    padding-left: 10px;

    position: relative;
    left: -479px;
    bottom: -38px;
}

